.aws-sam/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Terraform basic ignores
.terraform
**/.terraform/
*.tfstate*
.terraform.lock.hcl
.env
/.vs/terraform/v16/TestStore/0
/.vs
.vscode
.idea
**/.pluralith/pluralith.plan.bin
**/.pluralith/pluralith.state.json
